@model IEnumerable<ProjetWeb.Models.Film>

@{
    ViewData["Title"] = "Index";
    var currentPage = (int)(ViewData["CurrentPage"] ?? 1);
    var totalPages = (int)(ViewData["TotalPages"] ?? 1);
    var pageSize = (int)(ViewData["PageSize"] ?? 12);
}

<h1>Nos DVD</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container mt-5">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>
                        <img src="~/images/@(item.ImagePochette)" class="img-fluid" width="150px" />
                    </div>
                    <div>
                        <strong>Titre Français: </strong> @Html.DisplayFor(modelItem => item.TitreFrancais)
                    </div>
                    <div>
                        <strong>DVD en main par: </strong> @Html.DisplayFor(modelItem => item.NoUtilisateurMajNavigation.NoUtilisateur)
                    </div>
                    <br />
                </td>
                <td>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.NoFilm" class="btn btn-warning btn-sm">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.NoFilm" class="btn btn-info btn-sm">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.NoFilm" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </table>

    <div class="pagination">
        <ul class="pagination">
            <li class="page-item @(currentPage <= 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="1">First</a>
            </li>
            <li class="page-item @(currentPage <= 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item @(currentPage >= totalPages ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(currentPage + 1)">Next</a>
            </li>
            <li class="page-item @(currentPage >= totalPages ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@totalPages">Last</a>
            </li>
        </ul>
    </div>

    @{
        var urlFor12 = Url.Action("Index", new { pageSize = 12, pageNumber = 1 });
        var urlFor24 = Url.Action("Index", new { pageSize = 24, pageNumber = 1 });
        var urlFor48 = Url.Action("Index", new { pageSize = 48, pageNumber = 1 });
        var currentPageSize = ViewData["PageSize"] ?? 12; // Default to 12 if not set
    }

    <div class="form-group">
        <label for="pageSize">Films par page:</label>
        <select class="form-control" id="pageSize" onchange="location = this.value;">
            <option value="@urlFor12" @(currentPageSize.Equals(12) ? "selected" : "")>12</option>
            <option value="@urlFor24" @(currentPageSize.Equals(24) ? "selected" : "")>24</option>
            <option value="@urlFor48" @(currentPageSize.Equals(48) ? "selected" : "")>48</option>
        </select>
    </div>

</div>
</div>
